{% extends 'base.html' %}

{% block title %}List of Tags{% endblock %}

{% block content %}
  <h1>List of Tags</h1>

  <ul>
    {% for tag in tags %}
      <li>
        {{ tag.name }}
        <a href="{{ url_for('tags_edit', tag_id=tag.id) }}" class="btn btn-primary btn-sm">Edit</a>
        <form action="{{ url_for('tags_delete', tag_id=tag.id) }}" method="POST" style="display: inline;">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>

  <a class="btn btn-secondary"  href="{{ url_for('tags_new') }}" class="btn btn-primary">Add Tag</a>
  <a href="{{ url_for('home') }}" class="btn btn-secondary">Back</a>
{% endblock %}
